@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
}
form > button:hover {
  cursor: pointer;
}
.letter {
  transition: all 0.05s ease-in;
}
.playing {
  transform: scale(0.8);
}
