@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200&display=swap");

* {
  box-sizing: border-box;
  font-size: 10px;
  --dark-blue: #022448;
  --middle-blue: #55bdca;
  --teal: #98ffff;
  --light-blue: #c8eff9;
  --orange: #f47d42;
}
html {
  width: 95%;
  margin: 0 auto;
}
body {
  background: linear-gradient(
      to top right,
      var(--light-blue) 30%,
      var(--teal) 35%,
      var(--middle-blue) 50%,
      var(--dark-blue),
      var(--orange)
    )
    no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/record_store.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto 0;
  min-height: 80vh;
}
header {
  min-height: 15vh;
}
footer {
  min-height: 5vh;
}
nav {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
}
header h1 {
  font-family: "Epilogue", sans-serif;
  font-size: 4rem;
  color: var(--light-blue);
  text-align: right;
}

/* ----------- Form Styles ----------------- */

.edit-user-container,
.edit-album-container,
.new-album-container,
.edit-review-container,
.new-review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.edit-user-form,
.edit-album-form,
.new-album-form,
.edit-review-form,
.new-review-form {
  display: flex;
  border: 20px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.edit-user-form .button,
.edit-album-form .button,
.new-album-form .button,
.edit-review-form .button,
.new-review-form .button {
  background-color: #f26d13;
  border: none;
  height: 30px;
}
.edit-review-container #button {
  cursor: pointer;
  background: linear-gradient(to top right, #94ecf7 45%, #f7d0f7, #73f0be);
  padding: 20px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  width: 100px;
  font-size: 18px;
}

.edit-user-form .button:hover,
.edit-album-form .button:hover,
.new-album-form .button:hover,
.edit-review-form .button:hover,
.new-review-form .button:hover {
  cursor: pointer;
}
form {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0.5rem;
  font-size: 2rem;
}
form > button:hover {
  cursor: pointer;
}
/* ---------------- Records Index ---------------------- */

.index-records-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  max-width: 90%;
  flex-direction: column;
}
.index-large-records-container,
.index-small-records-container {
  display: flex;
  flex-wrap: wrap;
}
.index-large-records-container {
  order: -1;
}
.index-small-records-container {
  align-items: flex-end;
}
.index-large-records-container img {
  width: 300px;
  margin: 5px;
  box-shadow: 3px 3px 5px black;
}
.index-small-records-container .index-records-small-images,
.index-small-records-container .index-records-small-images img {
  width: 100px;
}

/* ------------- Show Pages ------------------- */

.show-records-container,
.show-user-container,
.show-review-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 75%;
  height: 100vh;
  align-items: center;
}
.show-records-container div,
.show-user-container div,
.show-review-container .review-text {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.show-records-container div h1,
.show-user-container div h1,
.show-review-container h1 {
  font-family: "Epilogue", sans-serif;
  font-style: italic;
}
.show-review-container h1 {
  color: white;
}
.show-review-container .review-text-container {
  flex: 1;
}
.show-records-image,
.show-user-container img {
  width: 300px;
  box-shadow: 3px 3px 5px black;
}
.show-records-container aside,
.show-user-container aside,
.show-review-container aside {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
}
.show-records-container .button,
.show-user-container .button,
.show-review-container .button {
  background: linear-gradient(to top right, #94ecf7 45%, #f7d0f7, #73f0be);
  padding: 20px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  width: 100px;
  font-size: 18px;
}
.show-records-container .button:hover,
.show-user-container .button:hover,
.show-review-container .button:hover {
  cursor: pointer;
}
.show-review-container .review-text-and-buttons {
  flex: 2;
  justify-content: space-between;
  display: flex;
}
.show-review-container .review-text {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.show-review-container .review-buttons {
  display: inherit;
}

@media all and (max-width: 1000px) {
  /* ------------- Layout Styles ------------------- */

  .nav-container {
    flex-wrap: wrap;
  }
  .nav-container .nav-logo {
    flex: 1 1 100%;
  }
  .nav-container li {
    flex: 1 1 33.33333%;
  }
  .nav-container .nav-social {
    text-align: right;
  }
  /* ------------------- Show Pages ------------------------  */
  .show-records-container,
  .show-user-container {
    flex-wrap: wrap;
  }
  .show-records-container aside,
  .show-user-container aside {
    flex-direction: row;
    flex: 1;
    margin-top: 10px;
    height: 125px;
  }
}

@media (min-width: 500px) {
  form {
    width: 60%;
    margin: 0 auto;
  }
  header h1 {
    text-align: left;
    color: var(--dark-blue);
  }
}
@media all and (max-width: 700px) {
  .show-records-container,
  .show-user-container {
    justify-content: center;
  }
  .show-records-container div,
  .show-user-container div {
    order: -2;
  }
  .show-records-container aside,
  .show-user-container aside {
    order: -1;
  }
}
